aiodns @ file:///opt/miniconda3/conda-bld/aiodns_1762184800293/work
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86beu757ao/croot/aiohappyeyeballs_1755769847762/work
aiohttp @ file:///opt/miniconda3/conda-bld/aiohttp_1762519752635/work
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
alembic @ file:///opt/miniconda3/conda-bld/alembic_1763718274431/work
altair @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7ew3pavrjt/croot/altair_1743016738697/work
annotated-doc @ file:///opt/miniconda3/conda-bld/annotated-doc_1763372655690/work
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744949290/work
anyio @ file:///opt/miniconda3/conda-bld/anyio_1758623422202/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
asttokens @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_11i8cnwuxs/croot/asttokens_1743630449718/work
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356931094/work
automodel==0.5.9
bcrypt @ file:///opt/miniconda3/conda-bld/bcrypt_1762875116397/work
beautifulsoup4 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4910wm3bdc/croot/beautifulsoup4-split_1756453097265/work
blinker @ file:///opt/miniconda3/conda-bld/blinker_1764332126569/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_55txi4fy1u/croot/bottleneck_1731058642212/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1762950225873/work
cachetools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dwsj6_xj_/croot/cachetools_1738225342715/work
catboost @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_47lgi2sj8w/croot/catboost_1750356531337/work/catboost-1.2.8-cp313-cp313-macosx_11_0_universal2.whl#sha256=777987e1483824f93b9cb904860ef46dfb3cd184f879e47413bc7163b9514830
certifi @ file:///opt/miniconda3/conda-bld/certifi_1763135329285/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bwamfk1ra/croot/click_1754477943404/work
cloudpickle @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_04keaza5jy/croot/cloudpickle_1751309451361/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153598/work
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cvjf0v4ux/croot/contourpy_1732540055997/work
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1760092604751/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
databricks-sdk @ file:///opt/miniconda3/conda-bld/databricks-sdk_1757413957046/work
datasets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62tsfo91_6/croot/datasets_1741368007051/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421637290/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341238163/work
dill @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/dill_1728591838045/work
docker @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/docker-py_1731716071250/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235986/work
fastapi @ file:///opt/miniconda3/conda-bld/fastapi_1763380161877/work
filelock @ file:///opt/miniconda3/conda-bld/filelock_1762419675907/work
Flask @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c5fr3f66m2/croot/flask_1756453130186/work
flask-cors @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_flask-cors_1749615415/work
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1759754874393/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014412/work
fsspec @ file:///Users/builder/cbouss/buildout/croot/fsspec_1739484034363/work
gitdb @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82snifofrq/croot/gitdb_1753362128356/work
GitPython @ file:///opt/miniconda3/conda-bld/gitpython_1761291258924/work
google-auth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8ds3odran7/croot/google-auth_1741275200078/work
graphene @ file:///opt/miniconda3/conda-bld/graphene_1759413611466/work
graphql-core @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ad0irb_jhf/croot/graphql-core_1742237989122/work
graphql-relay @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e75if12wme/croot/graphql-relay_1742250897674/work
graphviz @ file:///var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_79vqrz925o/croot/python-graphviz_1739534132423/work
greenlet @ file:///opt/miniconda3/conda-bld/greenlet_1757405399086/work
gunicorn @ file:///opt/miniconda3/conda-bld/gunicorn_1762451670854/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
hf-xet @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_79w069vczw/croot/hf-xet_1755725955657/work
huey @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_huey_1761229885/work
huggingface_hub @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29dc5yixdo/croot/huggingface_hub_1755770856782/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005426/work
importlib_metadata @ file:///opt/miniconda3/conda-bld/importlib_metadata-suite_1763996573431/work
invoke @ file:///opt/miniconda3/conda-bld/invoke_1757344454040/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946073576/work
ipython @ file:///opt/miniconda3/conda-bld/ipython_1762789298907/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
itsdangerous @ file:///Users/builder/cbouss/buildout/croot/itsdangerous_1732923588034/work
jedi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_38ctoinnl0/croot/jedi_1733987402850/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///opt/miniconda3/conda-bld/joblib_1757926354564/work
jsonschema @ file:///opt/miniconda3/conda-bld/jsonschema_1762459085502/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416562/work
jupyter_client @ file:///opt/miniconda3/conda-bld/jupyter_client_1762943081725/work
jupyter_core @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_044bmfoejx/croot/jupyter_core_1751991384131/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cc2l_z_0ri/croot/kiwisolver_1737039586949/work
lightgbm @ file:///Users/builder/cbouss/buildout/croot/lightgbm_1742580159896/work
Mako @ file:///opt/miniconda3/conda-bld/mako_1758276740580/work
Markdown @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c8yxkefe2v/croot/markdown_1746114450220/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.6
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171616/work
mlflow @ file:///home/conda/feedstock_root/build_artifacts/mlflow-split_1764087752844/work
mlflow-skinny @ file:///home/conda/feedstock_root/build_artifacts/mlflow-split_1764087752844/work/libs/skinny
mpmath==1.3.0
multidict @ file:///opt/miniconda3/conda-bld/multidict_1760566758673/work
multiprocess @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/multiprocess_1728594795016/work
narwhals @ file:///opt/miniconda3/conda-bld/narwhals_1760003494582/work
nest_asyncio @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nest-asyncio_1728588080290/work
networkx==3.6
nltk @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nltk_1728598230518/work
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_766kpwgy17/croot/numexpr_1755766476118/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1760547730050/work/dist/numpy-2.3.3-cp313-cp313-macosx_12_0_arm64.whl#sha256=6528ffc6626f2728a7f27575b39b0f24916f7890c34a559b05c4e64921730c8a
opentelemetry-api @ file:///opt/miniconda3/conda-bld/opentelemetry-api_1763996073290/work
opentelemetry-proto @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-proto_1764773199025/work
opentelemetry-sdk @ file:///opt/miniconda3/conda-bld/opentelemetry-sdk_1764073022243/work
opentelemetry-semantic-conventions @ file:///opt/miniconda3/conda-bld/opentelemetry-semantic-conventions_1764062856532/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079023/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1759822251234/work/dist/pandas-2.3.3-cp313-cp313-macosx_12_0_arm64.whl#sha256=132d05e03c5d0b1edf46852a671c634fe3752a9d621f3fbafa5b73c7f22e0e87
paramiko @ file:///opt/miniconda3/conda-bld/paramiko_1763637113819/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703500/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936187/work
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94x67n90dt/croot/pillow_1752524540258/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356666077/work
plotly @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_1e1bdkjh6p/croot/plotly_1756454817361/work
plumbum==1.10.0
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1758278110859/work
prometheus_flask_exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1741758851275/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744878191/work
propcache @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a337s3hyzy/croot/propcache_1744012732470/work
protobuf @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_73kluigbu7/croot/protobuf_1742426204819/work/bazel-bin/python/dist/protobuf-5.29.3-cp313-abi3-macosx_11_0_arm64.whl#sha256=e07b26660ea2f25386081d62b3650f5037d5028ca61f604b9a6148c4b9ee9ddf
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323233/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067068750/work
pyarrow @ file:///opt/miniconda3/conda-bld/pyarrow_1759833587742/work/python
pyasn1 @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyasn1_1731727085995/work
pyasn1_modules @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42zeqecgwx/croot/pyasn1-modules_1752042896598/work
pycares @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b01dqj7707/croot/pycares_1756217969873/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496048647/work
pydantic @ file:///opt/miniconda3/conda-bld/pydantic_1764083527102/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009784214/work
pydeck @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4duo28e8bs/croot/pydeck_1738346613542/work
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431584667/work
PyNaCl @ file:///opt/miniconda3/conda-bld/pynacl_1758891966190/work
pyOpenSSL @ file:///opt/miniconda3/conda-bld/pyopenssl_1762166536345/work
pyparsing @ file:///Users/builder/cbouss/buildout/croot/pyparsing_1735850351026/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
python-dateutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-dateutil_1728585579455/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1761503229/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492884/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375585960/work
querystring_parser @ file:///home/conda/feedstock_root/build_artifacts/querystring_parser_1734554621893/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885350/work
regex @ file:///opt/miniconda3/conda-bld/regex_1758888024237/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359592010/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478835/work
rpyc==6.0.2
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
safetensors @ file:///opt/miniconda3/conda-bld/safetensors_1762515995319/work
scikit-learn @ file:///opt/miniconda3/conda-bld/scikit-learn_1758620844345/work
scipy @ file:///opt/miniconda3/conda-bld/scipy_1762194748151/work/dist/scipy-1.16.3-cp313-cp313-macosx_12_0_arm64.whl#sha256=3b04b7058e0eaf4429c87ae07f579c05c0eede9297525893d9a04959c82a4908
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
setuptools==80.9.0
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///opt/miniconda3/conda-bld/sniffio_1764329150559/work
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1728586120162/work
SQLAlchemy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_64hfvudz6k/croot/sqlalchemy_1756710322669/work
sqlparse @ file:///opt/miniconda3/conda-bld/sqlparse_1764240029253/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067040463/work
starlette @ file:///opt/miniconda3/conda-bld/starlette-recipe_1756910684149/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1764839361391/work
sympy==1.14.0
tenacity @ file:///opt/miniconda3/conda-bld/tenacity_1760375527847/work
threadpoolctl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_18rgexrkuo/croot/threadpoolctl_1731006101562/work
tokenizers @ file:///opt/miniconda3/conda-bld/tokenizers_1761922215849/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==2.9.1
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_63s3osc0_1/croot/tornado_1748956943583/work
tqdm @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5642tzrprr/croot/tqdm_1738943467095/work
traitlets @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/traitlets_1728585482264/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1764088833189/work
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169744/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_95v32ztwo_/croot/urllib3_1750775480393/work
uvicorn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0dm6hdefmx/croot/uvicorn-split_1751615743028/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502840/work
watchdog @ file:///opt/miniconda3/conda-bld/watchdog_1759775782308/work
wcwidth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8el7txr34i/croot/wcwidth_1750352901095/work
websocket-client @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/websocket-client_1728587380721/work
Werkzeug @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_87am5fxnsf/croot/werkzeug_1737448721856/work
wheel==0.45.1
xgboost @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_abwcuua5oq/croot/xgboost-split_1749630928197/work/python-package
xxhash @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dqzb3ngyc/croot/python-xxhash_1737039922516/work
yarl @ file:///opt/miniconda3/conda-bld/yarl_1762250141518/work
zipp @ file:///opt/miniconda3/conda-bld/zipp_1763977858517/work
